
mail-campaign-rest-api/.vs/mail-campaign-rest-api/config/applicationhost.config
mail-campaign-rest-api/.vs/mail-campaign-rest-api/DesignTimeBuild/.dtbcache.v2
mail-campaign-rest-api/.vs/mail-campaign-rest-api/project-colors.json
mail-campaign-rest-api/.vs/mail-campaign-rest-api/v17/.futdcache.v1
mail-campaign-rest-api/.vs/mail-campaign-rest-api/v17/.suo
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.dll
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.pdb
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.runtimeconfig.dev.json
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.StaticWebAssets.xml
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.Tests.deps.json
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.Tests.dll
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.Tests.pdb
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Api.Tests.runtimeconfig.dev.json
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.dll
mail-campaign-rest-api/MailCampaign.Api.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.pdb
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.assets.cache
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.dll
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.genruntimeconfig.cache
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Api.Tests.pdb
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/MailCampaign.Api.Tests.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/MailCampaign.Api.Tests.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/MailCampaign.Api.Tests.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.Api.Tests/obj/project.nuget.cache
mail-campaign-rest-api/MailCampaign.API/appsettings.json
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Api.dll
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Api.pdb
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Api.runtimeconfig.dev.json
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Api.StaticWebAssets.xml
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.dll
mail-campaign-rest-api/MailCampaign.API/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.pdb
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.API.assets.cache
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.dll
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.genruntimeconfig.cache
mail-campaign-rest-api/MailCampaign.API/obj/Debug/netcoreapp3.1/MailCampaign.Api.pdb
mail-campaign-rest-api/MailCampaign.API/obj/MailCampaign.Api.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.API/obj/MailCampaign.API.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.API/obj/MailCampaign.API.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.API/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.API/obj/project.nuget.cache
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.Tests.deps.json
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.Tests.dll
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.Tests.pdb
mail-campaign-rest-api/MailCampaign.Core.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.Tests.runtimeconfig.dev.json
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.assets.cache
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.dll
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.genruntimeconfig.cache
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Core.Tests.pdb
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/MailCampaign.Core.Tests.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/MailCampaign.Core.Tests.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/MailCampaign.Core.Tests.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.Core.Tests/obj/project.nuget.cache
mail-campaign-rest-api/MailCampaign.Core/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Core/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.assets.cache
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.Core/obj/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Core/obj/MailCampaign.Core.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.Core/obj/MailCampaign.Core.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.Core/obj/MailCampaign.Core.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.Core/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.Core/obj/project.nuget.cache
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.dll
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.deps.json
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.dll
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.runtimeconfig.dev.json
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.assets.cache
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.dll
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.genruntimeconfig.cache
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.Tests.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/MailCampaign.Infrastructure.Tests.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/MailCampaign.Infrastructure.Tests.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/MailCampaign.Infrastructure.Tests.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.Infrastructure.Tests/obj/project.nuget.cache
mail-campaign-rest-api/MailCampaign.Infrastructure/bin/Debug/netcoreapp3.1/MailCampaign.Core.dll
mail-campaign-rest-api/MailCampaign.Infrastructure/bin/Debug/netcoreapp3.1/MailCampaign.Core.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.dll
mail-campaign-rest-api/MailCampaign.Infrastructure/bin/Debug/netcoreapp3.1/MailCampaign.Infrastructure.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.assets.cache
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.csproj.AssemblyReference.cache
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.csproj.CoreCompileInputs.cache
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.csproj.FileListAbsolute.txt
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.dll
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/Debug/netcoreapp3.1/MailCampaign.Infrastructure.pdb
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/MailCampaign.Infrastructure.csproj.nuget.dgspec.json
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/MailCampaign.Infrastructure.csproj.nuget.g.props
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/MailCampaign.Infrastructure.csproj.nuget.g.targets
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/project.assets.json
mail-campaign-rest-api/MailCampaign.Infrastructure/obj/project.nuget.cache
mail-campaign-ui/package-lock.json
*.json
*.dll
*.pdb
*.cache
*.txt
