<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User Email Template</h1>
</div>

<!-- Content Row -->

<div class="row">

    <div class="col-lg-12">
        <tabset>
            <tab heading="Compose" id="tab1">
                <div class="card shadow mb-4">
                    <!-- Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form class="form-horizontal" role="form" [formGroup]="mailForm">
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="txtFrom">From : abc@noemail.com</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="txtDescription">To</label>
                                            <input type="text" class="form-control" id="txtTo" placeholder="To"
                                                formControlName="to">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <label for="txtDescription">Subject</label>
                                            <input type="text" class="form-control" id="txtSubject"
                                                placeholder="Subject" formControlName="subject">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <input type="button" style="float: right;" class="btn btn-sm btn-success"
                                                value="Select Template" (click)="openModal(template)" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <ckeditor [editor]="Editor" formControlName="htmlContent" data="">
                                            </ckeditor>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-lg-12">
                                            <input type="button" class="btn btn-primary" value="Send"
                                                style="margin-right: 10px; width:100px;" (click)="sendMail()" />

                                            <input type="button" class="btn btn-primary" value="Send Later"
                                                style="margin-right: 10px; width:100px;" />

                                            <input type="button" class="btn btn-primary" value="Preview"
                                                style="margin-right: 10px; width:100px;" />

                                            <input type="button" class="btn btn-primary" value="Draft"
                                                style="margin-right: 10px; width:100px;" />

                                            <input type="button" class="btn btn-outline-primary" value="Discard"
                                                style="margin-right: 10px; width:100px;" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Sent" (click)="getSentMail()">
                <div class="card shadow mb-4">
                    <!-- Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <accordion>
                                    <accordion-group *ngFor="let mail of sentMaillist" [heading]="mail.subject">
                                        {{ mail.htmlContent }}
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab heading="Draft" (click)="getDraftMail()">
                <div class="card shadow mb-4">
                    <!-- Body -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- <accordion>
                                    <accordion-group *ngFor="let mail of draftMaillist" [heading]="mail.subject">
                                      {{ mail.htmlContent }}
                                    </accordion-group>
                                  </accordion> -->
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Template</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <select class="form-group" name="template" #templateSelect (change)='viewTemplate(templateSelect.value)'>
                        <option value="0">-- Select Template --</option>
                        <option *ngFor="let template of templatesList" [value]="template.templateId">
                            {{template.title}}</option>
                    </select>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <div [innerHTML]="templateContent"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="selectTemplate(templateContent)">Select</button>
            <button type="button" class="btn btn-outline-primary" (click)="modalRef.hide()">Cancel</button>
        </div>
    </ng-template>
</div>