<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Email Template</h1>
</div>

<!-- Content Row -->

<div class="row">

  <div class="col-lg-12">
    <div class="card shadow mb-4" *ngIf="isShown">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Email Template List</h6>

      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-lg-8">
            <button class="btn btn-success" (click)="showToaster()">Show toaster</button>
          </div>
          <div class="col-lg-4">
            <button class="btn btn-primary btn-sm" (click)="addTemplate()" style="float: right;">Add New</button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

            <!-- <img src="../../../../assets/img/loader.png"> -->
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Created Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="!IsRecordFetching">
                  <tr *ngFor="let template of templatelist;">
                    <td>
                      {{template.title}}
                    </td>
                    <td>
                      {{template.createdDate }}
                    </td>
                    <td>
                      <a href="javascript:void(0)" (click)="editTemplate(template.templateId)"
                        style="margin-right: 10px;" ngbTooltip="Edit">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </a>
                      <a href="javascript:void(0)" (click)="deleteTemplate(template.templateId)"
                        style="margin-right: 10px;" ngbTooltip="Delete">
                        <fa-icon [icon]="faDelete"></fa-icon>
                      </a>
                      <a href="javascript:void(0)" (click)="viewTemplate(template.templateId)"
                        style="margin-right: 10px;" ngbTooltip="View">
                        <fa-icon [icon]="faView"></fa-icon>
                      </a>
                      <!-- <a href="javascript:void(0)" (click)="viewTemplate(template.templateId)">View</a>        -->
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="!templatelist.length && !IsRecordFetching">
                  <td colspan="3">
                    <span>
                      No records found
                    </span>
                  </td>
                </tr>
                <tr *ngIf="IsRecordFetching">
                  <td colspan="3">
                    <i class="fas fa-spinner fa-spin"></i>
                    <span>
                      Feching records. Please wait
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4" *ngIf="!isShown">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Add Email Template</h6>

      </div>
      <!-- Card Body -->
      <div class="card-body">
        <form class="form-horizontal" role="form" [formGroup]="templateForm">
          <div class="row">
            <div class="form-group col-lg-12">
              <label for="txtTitle">Title</label>
              <input type="text" class="form-control" id="txtTitle" placeholder="Title" formControlName="title">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="txtDescription">Description</label>
              <input type="text" class="form-control" id="txtDescription" placeholder="Description"
                formControlName="description">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <label for="txtDescription">Template</label>
              <ckeditor [editor]="Editor" formControlName="htmlContent" data=""></ckeditor>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-12">
              <input type="button" *ngIf="isAddNew" class="btn btn-success" value="Save"
                style="margin-right: 10px; width:100px;" (click)="saveTemplate()" />
              <input type="button" *ngIf="!isAddNew" class="btn btn-primary" value="Update"
                style="margin-right: 10px; width:100px;" (click)="updateTemplate()" />
              <input type="button" class="btn btn-outline-primary" value="Cancel" style="width:100px;"
                (click)="isShown = true" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>