<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">      
        
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="btn" aria-current="page" routerLink="Template">Template</a>
            </li>
            <li class="nav-item">
              <a class="btn" routerLink="RecipientGroup">Recipient Group</a>
            </li>           
          </ul>
        </div>      
    </nav>